p {
  font-family: arial;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.new {
  color: red;
}

.device {
  font-size: 35px;
}

.slogan {
  font-weight: bold;
  font-size: 60px;
}

.price {
  margin-top: 15px;
  margin-bottom: 25px;
}

.buy {
  color: white;
  background-color: rgb(0, 113, 227);
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 30px;
}