p {
  font-family: arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.id {
  color: grey;
}

.desc {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.acc {
  color: rgb(0, 115, 230);
}