p {
  font-family: arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.price {
  font-size: 30px;
}

.currency {
  color: grey;
  margin-left: 15px;
}

.stats {
  color: green;
  margin-top: 5px;
  margin-bottom: 10px;
}

.desc1 {
  color: grey;
}

.desc2 {
  color: red
}